<div class="group2-container">
    <!-- Title -->
    <h1 class="title">{{ title }}</h1>
  
    <!-- Content -->
    <div class="content">
      <!-- Left Side: Images -->
      <div class="images-container">
        <div *ngFor="let image of images" class="image-container">
          <img [src]="image" alt="Group 2 Image" class="image">
        </div>
      </div>
  
      <!-- Right Side: Text -->
      <div class="text-container">
        <p>{{ text }}</p>
      </div>
    </div>
  
    <!-- Buttons Container -->
    <div class="buttons-container">
      <button class="nav-button back-button" routerLink="/memories/group-0">Back</button>
      <button class="nav-button next-button" routerLink="/memories/group-2">Next</button>
    </div>
  </div>